<div class="container">
    <h2>Basic Table</h2>
    <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
    <table class="table">
      <thead>
          <tr><td [attr.colspan]="columnSpan">This used {{columnSpan}} interpolation</td></tr>
          <tr><td attr.colspan="{{columnSpan}}">colspan:{{columnSpan}}2This used interpolation</td></tr>
       
          <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees" >
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.email}}</td>
        </tr>       
      </tbody>
    </table>
    <button (click)='getEmployees()'>Get employees</button>
  </div>
  